# Assignment Set 4 Solutions - Data preparation and transformation

In [2]:
import pandas as pd
import numpy as np

### Q1. Get the last two rows of df whose row sum is greater than 100.

In [7]:
# Input
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [8]:
# Solution

# row sums
rowsums = df.apply(np.sum, axis=1)

# last two rows with row sum greater than 100
last_two_rows = df.iloc[np.where(rowsums > 100)[0][-2:], :]
last_two_rows

     0   1   2   3
13  38  26  33  25
14  36  32  17  33

### Q2. Scale the `Price` columns using z score scaling

In [12]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [13]:
# Solution
def z_score_scaling(x):
    return (x - np.mean(x))/np.std(x)

z_score_scaling(df['Price'])

0    -0.384303
1     1.476989
2     0.980644
3     1.869928
4     1.073709
        ...
88    0.008636
89    0.039658
90    0.380894
91    0.318851
92    0.732472
Name: Price, Length: 93, dtype: float64

### Q3. Scale all numerical columns using z score scaling

In [33]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [37]:
# Solution
num_df = df.select_dtypes(include=np.number)

def z_score_scaling(x):
    return (x - np.mean(x))/np.std(x)

num_df.apply(z_score_scaling, axis="columns")

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,-0.440973,-0.439152,-0.437392,-0.433629,-0.429986,-0.447711,-0.363822,3.375409,1.305478,-0.440791,-0.445769,-0.341362,-0.386888,-0.407527,-0.426344,-0.432718,NaN,1.193179
1,-0.435274,-0.432128,-0.428915,-0.442771,-0.438085,-0.452678,-0.320940,3.226882,1.108229,-0.442771,-0.451473,-0.324287,-0.377839,-0.407293,-0.429383,-0.434738,-0.444779,1.928245
2,-0.431822,-0.429650,-0.427477,-0.435829,-0.431755,-0.447508,-0.332615,3.285296,1.098796,-0.437934,-0.446014,-0.327183,-0.380148,-0.403914,-0.424285,-0.430397,-0.439903,1.842342
3,NaN,-0.481991,-0.477685,-0.493661,-0.489293,NaN,-0.398178,2.926903,1.076516,-0.492351,-0.501774,-0.385072,-0.439367,NaN,-0.482428,-0.486172,-0.494909,1.619462
4,NaN,-0.467557,NaN,-0.472476,-0.467557,-0.483852,-0.358110,3.018775,1.078849,-0.473030,-0.483544,-0.371637,-0.418982,-0.443577,-0.462024,-0.469402,-0.478010,1.752136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,-0.476343,-0.474211,-0.472148,-0.476068,-0.473317,-0.486040,-0.412801,2.606850,1.516860,-0.473249,-0.482945,-0.359161,-0.408674,-0.438245,-0.461627,-0.464377,NaN,2.235497
89,-0.433198,-0.431619,-0.430040,-0.430961,-0.425041,-0.443459,-0.356631,3.370399,1.321388,-0.432606,-0.441486,-0.326373,-0.377023,-0.400703,-0.421752,-0.424054,-0.435566,1.518724
90,-0.422736,-0.422466,-0.422197,-0.426036,-0.421321,-0.436273,-0.318275,3.468161,1.168147,-0.425699,-0.435465,-0.331072,-0.372829,-0.393708,-0.413913,-0.420648,-0.428056,1.454386
91,-0.428568,-0.427932,-0.427366,-0.429134,-0.424182,-0.442365,-0.363335,3.376615,1.123164,-0.432814,-0.440455,-0.309564,-0.370410,-0.396589,-0.417814,-0.423121,-0.434087,1.667955
92,-0.362310,-0.361115,-0.359982,-0.365331,-0.360297,-0.376407,-0.272191,3.523903,NaN,-0.365772,-0.374771,-0.262122,-0.311838,-0.334494,-0.354003,-0.359038,-0.368478,1.664245

### Q4. Convert the series ser into a dataframe with its index as another column on the dataframe.

In [18]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [19]:
# Solution
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

### Q5. Bin the `Price` column into 3 equal sized bins, so you know the classification of whether the price of the car is 'low' / 'medium' / 'high'.

In [31]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [32]:
# Solution
pd.qcut(df['Price'], q=3, labels=['LOW', 'MEDIUM', 'HIGH']).head()

0    MEDIUM
1      HIGH
2      HIGH
3      HIGH
4      HIGH
Name: Price, dtype: category
Categories (3, object): ['LOW' < 'MEDIUM' < 'HIGH']