# Assignment Set 5 Solutions - Useful tips and tricks

In [1]:
import pandas as pd
import numpy as np

### Q1. Get 10 random rows from the dataframe.

In [2]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [5]:
# Solution
df.sample(10, replace=False)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
68,Oldsmobile,Cutlass_Ciera,Midsize,14.2,16.3,18.4,23.0,31.0,Driver only,Front,...,5.0,190.0,105.0,70.0,42.0,28.0,16.0,2890.0,USA,Oldsmobile Cutlass_Ciera
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850
28,Eagle,Summit,Small,7.9,12.2,16.5,29.0,33.0,None,Front,...,5.0,174.0,98.0,66.0,36.0,26.5,11.0,2295.0,USA,Eagle Summit
24,Dodge,Spirit,Compact,11.9,13.3,14.7,22.0,27.0,Driver only,Front,...,6.0,181.0,104.0,68.0,39.0,30.5,NaN,2970.0,USA,Dodge Spirit
38,Geo,Metro,Small,6.7,8.4,10.0,46.0,50.0,None,Front,...,4.0,151.0,93.0,63.0,34.0,27.5,10.0,1695.0,non-USA,Geo Metro
86,Toyota,Previa,Van,NaN,22.7,26.6,18.0,22.0,Driver only,4WD,...,7.0,187.0,113.0,71.0,41.0,35.0,NaN,3785.0,non-USA,Toyota Previa
45,Hyundai,Scoupe,NaN,9.1,10.0,11.0,26.0,34.0,None,Front,...,4.0,166.0,94.0,64.0,34.0,23.5,9.0,2285.0,non-USA,NaN
64,Nissan,Altima,Compact,13.0,15.7,18.3,24.0,30.0,Driver only,Front,...,5.0,181.0,103.0,67.0,40.0,28.5,14.0,3050.0,non-USA,Nissan Altima
87,Volkswagen,Fox,Small,8.7,9.1,9.5,25.0,33.0,None,Front,...,4.0,163.0,93.0,63.0,34.0,26.0,10.0,2240.0,non-USA,Volkswagen Fox
43,Hyundai,Excel,Small,6.8,8.0,9.2,29.0,33.0,None,Front,...,5.0,168.0,94.0,63.0,35.0,26.0,11.0,2345.0,non-USA,Hyundai Excel

### Q2. Encode the `Type` columns using dummy encoding

In [9]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [7]:
# Solution
pd.get_dummies(df.Type, prefix='Type_')

,Type__Compact,Type__Large,Type__Midsize,Type__Small,Type__Sporty,Type__Van
0,0,0,0,1,0,0
1,0,0,1,0,0,0
2,1,0,0,0,0,0
3,0,0,1,0,0,0
4,0,0,1,0,0,0
...,...,...,...,...,...,...
88,0,0,0,0,0,1
89,1,0,0,0,0,0
90,0,0,0,0,1,0
91,1,0,0,0,0,0
92,0,0,1,0,0,0

In [11]:
# Add the encoded data to the dataframe
pd.concat([df, pd.get_dummies(df.Type, prefix='Type_')], axis=1).head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Luggage.room,Weight,Origin,Make,Type__Compact,Type__Large,Type__Midsize,Type__Small,Type__Sporty,Type__Van
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,NaN,2705.0,non-USA,Acura Integra,0,0,0,1,0,0
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,15.0,3560.0,non-USA,Acura Legend,0,0,1,0,0,0
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,14.0,3375.0,non-USA,Audi 90,1,0,0,0,0,0
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,17.0,3405.0,non-USA,Audi 100,0,0,1,0,0,0
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,13.0,3640.0,non-USA,BMW 535i,0,0,1,0,0,0

### Q3. Perform the following task without creating intermediate dataframes:
- rename color_intensity for its shorter form ci. 
- create a new column, color_filter based on values on hue and ci. ```color_filter=lambda x: np.where((x.hue > 1) & (x.ci > 7), 1, 0)```
- filter a wine that has an alcohol content of more than 14 and color filter is 1. 
- sort the data frame based on alcohol content 
- display the "alcohol", "ci" and "hue" columns

In [16]:
# Input
from sklearn.datasets import load_wine
data = load_wine()
wine = pd.DataFrame(data.data,
                    columns=data.feature_names)
wine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [17]:
(
    wine.rename(columns={"color_intensity": "ci"})
    .assign(color_filter=lambda x: np.where((x.hue > 1) & (x.ci > 7), 1, 0))
    .query("alcohol > 14 and color_filter == 1")
    .sort_values("alcohol", ascending=False)
    .reset_index(drop=True)
    .loc[:, ["alcohol", "ci", "hue"]]
)

   alcohol   ci   hue
0    14.38  7.5  1.20
1    14.19  8.7  1.23

### Q4. Calculate the 90% confidence interval of the means for the following:


```python
# Input
import numpy as np
np.random.seed(100)
arr = pd.Series(np.random.normal(10, 3, (100)))
arr.head()
```

__Procedure:__
1. Bootstrap sample a large number of times (10000)
2. Calc mean of each sample.
3. Compute the 5%ile and 95%ile for the lower and upper bounds of the confidence intervals.

In [18]:
# Input
np.random.seed(100)
arr = pd.Series(np.random.normal(10, 3, (100)))
arr.head()

0     4.750704
1    11.028041
2    13.459107
3     9.242692
4    12.943962
dtype: float64

In [19]:
# Solution
means = []
for i in range(10000):
    means.append(arr.sample(frac=1, replace=True).mean())

# Sort
means = sorted(means)
means = pd.Series(means)

# lower and upper
means.quantile(q=.05), means.quantile(q=.95)

(9.216152324463039, 10.166406327306204)