# Assignment Set 3 Solutions - Conditional filtering and sorting

In [4]:
import pandas as pd
import numpy as np

### Q1. Which manufacturer, model and type has the highest price in the Cars93 dataset.

In [5]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [6]:
# Solution
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

     Manufacturer Model     Type
58  Mercedes-Benz  300E  Midsize

### Q2. Create a new column in Cars93 dataset which represents weight to highway mileage ration (Weight and MPG.highway columns).

In [8]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [10]:
# Solution 1
df['weight_mileage'] = df['Weight']/df['MPG.highway']
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make,weight_mileage
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra,87.258065
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend,142.400000
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90,129.807692
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100,130.961538
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i,121.333333

In [11]:
# Solution 2
df.loc[:, 'weight_mileage'] = df.loc[:, 'Weight']/df.loc[:, 'MPG.highway']
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make,weight_mileage
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra,87.258065
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend,142.400000
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90,129.807692
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100,130.961538
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i,121.333333

### Q3. Print the 10th value in Price column in the Cars93 dataset and replace it with 50

In [18]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [19]:
# Solution 1
print(df['Price'][10]) # print 10th value

df['Price'][10] = 50 # replace 10th value

print(df['Price'][10]) # print 10th value

40.1
50.0

<ipython-input-19-9627e22ab2a3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'][10] = 50 # replace 10th value

In [20]:
# Solution 2

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.at[10, 'Price']) # print 10th value

df.at[10, 'Price'] = 50 # replace 10th value

print(df.at[10, 'Price']) # print 10th value

40.1
50.0

In [21]:
# Solution 3

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.loc[10, 'Price']) # print 10th value

df.loc[10, 'Price'] = 50 # replace 10th value

print(df.loc[10, 'Price']) # print 10th value

40.1
50.0

### Q4. Filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0) in Cars93 dataset

In [22]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [24]:
# Solution
df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### Q5. Filter out the car models which has price greater than 40 in the Cars93 dataset.

In [45]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [46]:
# Solution
df.loc[df['Price'] > 40, :]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
10,Cadillac,Seville,Midsize,37.5,40.1,42.7,16.0,25.0,Driver & Passenger,Front,...,5.0,204.0,111.0,74.0,44.0,31.0,NaN,3935.0,USA,Cadillac Seville
47,Infiniti,Q45,Midsize,45.4,47.9,NaN,17.0,22.0,NaN,Rear,...,5.0,200.0,113.0,72.0,42.0,29.0,15.0,4000.0,non-USA,Infiniti Q45
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19.0,25.0,Driver & Passenger,Rear,...,5.0,NaN,110.0,69.0,37.0,NaN,15.0,3525.0,non-USA,Mercedes-Benz 300E

### Q6. Filter out the car models which has price greater than 40  and less than 60 in the Cars93 dataset.

In [48]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [49]:
# Solution

filter1 = df['Price'] > 40
filter2 = (df['Price'] < 60)

df.loc[(filter1 & filter2), :]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
10,Cadillac,Seville,Midsize,37.5,40.1,42.7,16.0,25.0,Driver & Passenger,Front,...,5.0,204.0,111.0,74.0,44.0,31.0,NaN,3935.0,USA,Cadillac Seville
47,Infiniti,Q45,Midsize,45.4,47.9,NaN,17.0,22.0,NaN,Rear,...,5.0,200.0,113.0,72.0,42.0,29.0,15.0,4000.0,non-USA,Infiniti Q45

### Q7. Find out which all types of vehicle are made by each manufacturer in the Cars93 dataset.

In [61]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [62]:
# Solution
df[['Manufacturer', 'Type']].drop_duplicates()

   Manufacturer     Type
0         Acura    Small
1           NaN  Midsize
2          Audi  Compact
3          Audi  Midsize
4           BMW  Midsize
..          ...      ...
87   Volkswagen    Small
88   Volkswagen      Van
89   Volkswagen  Compact
90   Volkswagen   Sporty
91        Volvo  Compact

[80 rows x 2 columns]

### Q8. Sort `Manufacturer` in alphabetical order but `MPG.highway` in descending order in Cars93 dataset

In [63]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [64]:
# Solution
df.sort_values(by=['Manufacturer', 'MPG.highway'], ascending=[True, False])

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
5,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN,...,6.0,189.0,105.0,69.0,41.0,28.0,16.0,NaN,USA,Buick Century
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
19,NaN,Concorde,Large,18.4,18.4,18.4,20.0,28.0,Driver & Passenger,Front,...,6.0,203.0,113.0,74.0,NaN,31.0,15.0,3515.0,USA,Chrylser Concorde
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
49,NaN,SC300,Midsize,34.7,35.2,35.6,18.0,23.0,Driver & Passenger,Rear,...,4.0,191.0,106.0,71.0,39.0,25.0,9.0,3515.0,non-USA,Lexus SC300